<div class='listWrapper'>
  <ul class='list-group position-relative'>
    {{#each orders}}

      <li class='list-group-item' id="{{this.Customer.id}}">Имя:
        <b>{{this.Customer.name}}</b>
        Телефон: <b>{{this.Customer.phone}}</b>
        Email: <b>{{this.Customer.email}}</b>
        Общая сумма:
        <b>{{this.total}}</b>
        {{#if this.status}}
        <span id="status">Статус заказа: <b>Выполнено</b></span>
        {{else}}
        <span id="status">Статус заказа: <b>Не выполнено</b></span>
        <button name="buttonForList" type="submit" class="btn btn-dark position-absolute top-0 start-100 ">Выполнено</button>
        {{/if}}
         <button name="buttonForList" type="submit" class="btn btn-dark position-absolute top-0 start-100 disabled">Выполнено!</button>
      </li>
    {{/each}}
  </ul>
</div>
